:root {
  --green: #0f0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  color: var(--green);
  padding-top: 40px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

.container {
  max-width: 80%;
  /* Adjust the max-width as needed */
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  /* Allow keywords to wrap on smaller screens */
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.keywords div {
  flex: 1;
  margin: 10px;
  /* Add space around each keyword div */
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.large-label {
  font-size: 20px;
}

textarea {
  width: 100%;
  margin-bottom: 15px;
  background: rgb(22, 21, 21);
  color: white;
  resize: vertical;
  border: 2px solid var(--green);
  border-radius: 10px;
  padding: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  /* Adjust as needed */
}

label:not(.large-label) {
  font-family: 'Courier New', monospace;
  color: var(--green);
  margin-right: 10px;
}

select {
  font-family: 'Courier New', monospace;
  background-color: #222;
  color: var(--green);
  border: 1px solid var(--green);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

select::after {
  content: '\25BC';
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--green);
}

input {
  background: rgb(22, 21, 21);
  border: 2px solid var(--green);
  border-radius: 5px;
  height: 25px;
  color: white;
  padding: 5px;
}

button {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  margin-top: 10px;
  background-color: var(--green);
  border: 2px solid var(--green);
  border-radius: 25px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  opacity: 0.7;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container {
    margin: 0;
    max-width: 90%;
    justify-content: center;
    align-items: center;
  }

  #input-container,
  #output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    padding: 40px 50px;
  }

  textarea {
    width: 90%;
  }

  .keywords, .keywords > div, .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .large-label {
    font-size: 50px;
  }

  label:not(.large-label) {
    font-size: 10px;
  }
}